{{ template "layout" .}}
{{ define "content" }}
    <main>
        <div class="container my-5">
            <h5>Produk</h5>
            <div class="row">
                {{ range .content }}
                <div class="col-4">
                    <div class="card my-3">
                        <img class="card-img-top" src="https://source.unsplash.com/random/300×300/?clothes" width="250" height="250" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ .Name }}</h5>
                            <p class="card-text">IDR {{ .Price }}</p>
                            {{ if lt .Stock 5 }}
                                <span class='badge badge-danger'>{{ .StockStatus }}</span>
                            {{ else if lt .Stock 10 }}
                                <span class='badge badge-warning'>{{ .StockStatus }}</span>
                            {{ end }}
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Stok tersedia: {{ .Stock }}</small>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </main>
{{ end }}